node_modules
npm-debug.log
.DS_Store
.env*
*.env
*.log
*.bak
*.swp
*.tmp
*.pid
.Dockerfile
.dockerignore
.git
.gitignore
.vscode
*.md
*.yml
*.yaml
files/data-feed
.github/
coverage
nix/
*.nix
.envrc
.nuxt
dist
.output