API_ENDPOINT=https://bk.opendatahub.com
API_COMPANIES_PATH=/api/published-companies/?fields[0]=data_

# change version if you want to update your webcomponent
WC_VERSION=0.0.1

# enable/disable Matomo
MATOMO=false

# Change port numbers, if they are already in use on your system
# replace 5001, 5002, 5555, 8998 and 8999 with your port numbers
API_SERVER_PORT=9030
CDN_SERVER_PORT=8080
FRONTEND_PORT=8999
APP_PORT=3000
PSQL_PORT=5555

API_URL_TEST=http://api:9030/
API_BASE_URL=http://localhost:9030
API_SWAGGER_BASE_URL=http://localhost:9030

CDN_DIST_URL=http://localhost:8080/dist
CDN_SWAGGER_BASE_URL=http://localhost:8080
CDN_WORKSPACE=/webcomponent/workspace
CDN_ADMINPATH=/webcomponent/workspace
WC_PATH=/webcomponent/

KEYCLOAK_URL_TEST=https://auth.opendatahub.testingmachine.eu/auth/
KEYCLOAK_REALM_TEST=noi
KEYCLOAK_CLIENT_ID_TEST=it.bz.opendatahub.webcomponents.development
# just for local development
KEYCLOAK_CLIENT_SECRET=3f170eea-19e2-43a7-a5cd-9343c6c74b09

## ReCaptcha configuration
# Get it from https://www.google.com/recaptcha/admin/create
# At the moment only v2 keys are supported
RECAPTCHA_PUBLIC_KEY=123key123

DB_URL=jdbc:postgresql://wcstore_postgres/wcs